<div class="background">
<div class="container">
  <div class="row">
    <div class="col-lg-5 push-lg-6">
      <div class="clearfix">
      <div class="textholder">
        <h2 class="section-heading">Make learning <br> a fun experience</h2>
        <p class="lead">Extremely simple app-design. Click, listen, and read. No long-winded text, no excessive features and tutorials! Used
          in classrooms across Denmark and the UK</p>
      </div>
        </div>
    </div>
    <div class="col-lg-6 pull-lg-6">
      <img src="assets/img/girlapp.png" alt="">
    </div>
  </div>
</div>
</div>
