<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 push-lg-5">
          <div class="textholder">
            <h2 class="section-heading">One-man team</h2>
            <p class="lead">Martin Dalsgaard Clausen is the software engineer, head of marketing, and lead designer of Fedthund. He has more
              than 10 years of experience developing network- and software solutions. Some say his many responsibilities
              is because of his talent, others say it's because he's the only employee. </p>
          </div>
      </div>
      <div class="col-lg-4 pull-lg-6">
        <img src="assets/img/me.png" alt="">
      </div>
    </div>
  </div>
</div>
