.container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
}

.textholder {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: center;
}

h2, p {
    text-align: center;
}

.col-lg-4.pull-lg-6 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}

.col-lg-5.push-lg-5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

img {
    max-width: 90%;
    max-height: 90%;
}

.background {
    background-color: #f8f8f8;
}