<div (click)="open(content)" class="contact">
  <img class="contactImg" src="/assets/img/contactIcon.png" alt="">
  <p class="contactText">CONTACT</p>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Contact me</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-10">
      <form [formGroup]="contactForm" autocomplete="off" >
          <div class="form-group" [ngClass]="{'error' : !validateSubject() }">
            <label for="subject">Subject:</label>
            <em *ngIf="!validateSubject()">Required</em>
            <input formControlName="subject" id="subject" type="text" class="form-control" placeholder="Reason for contacting.."/>
          </div>
          <div class="form-group" [ngClass]="{'error' : !validateEmail() }">
            <label for="email">Email:</label>
            <em *ngIf="!validateEmail()">Must contain email</em>
            <input formControlName="email" id="email" type="email" class="form-control" placeholder="Your e-mail so I can respond"/>
          </div>
          <div class="form-group" [ngClass]="{'error' : !validateContent() }">
            <label for="content">Content:</label>
            <em *ngIf="!validateContent()">Must be at least {{contentCharacterLimit}} characters</em>
            <textarea formControlName="content" id="content" type="text" class="form-control content" placeholder="What can I help you with?"></textarea>
          </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Send click')" [disabled]="!contactForm.valid">Send</button>
  </div>
</ng-template>
