<div class="mainDiv">
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="assets/img/foxSoundboard.png" alt="Random first slide">
      <div class="carousel-caption">
        <a href="https://play.google.com/store/apps/details?id=martinclausen.foxsoundboard" target="_blank">Fox Soundboard</a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/eubirds.png" alt="Random second slide">
      <div class="carousel-caption">
        <a href="https://play.google.com/store/apps/details?id=martinclausen.fuglelyde" target="_blank">European Birds</a>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
