<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      <div class="textholder">
        <h2 class="section-heading">Developing nature for Android</h2>
        <p class="lead">Educate yourself with the european bird app for free, and collect all the birds. It's available in english and danish.
          It has over 10.000 downloads!</p>
      </div>
    </div>
    <div class="col-lg-6">
      <app-carousel class="app-carousel"></app-carousel>
    </div>
  </div>

</div>
<!-- /.container -->
